# Created by https://www.gitignore.io/api/visualstudiocode

### VisualStudioCode ###
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

*.cm*
_build
.clj-kondo

.cpcache
.cache

dune*
.merlin


*calva
.nrepl*

imgs
